@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(194, 233, 251);
  background: linear-gradient(
    90deg,
    rgba(194, 233, 251, 1) 0%,
    rgba(161, 196, 253, 1) 84%
  );
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}
